.App-about {
    display: flex;
    flex-direction: row;
  }

.App-about-image {
    height: 40vmin;
    pointer-events: none;
    border-radius: 5px;
    border-width: 1px;
    border-style: none;
}

.App-about-text {
  width: 60vmin;
}