.App {
  text-align: center;
 /* background-color:aqua; */
}

.App-image {
  height: 40vmin;
  pointer-events: none;
}

a:link { color: lightgray; text-decoration: none }
a:visited { color: lightsteelblue; }
a:hover { color: white; text-decoration: underline }
a:active { color: gray; }

/* @media (prefers-reduced-motion: no-preference) {
  .App-image {
    animation: App-image-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34; 
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-navigation {
  font-size: 2vmin;
}


/* 
.App-link {
  color: #61dafb;
} 
*/

@keyframes App-image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
